.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.modal-exit {
    opacity: 1;
}

.modal-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.alert-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.alert-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.alert-exit {
    opacity: 1;
    transform: translateY(0);
}

.alert-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

