#header {
    width: 100%;
    background-color: rgba(18, 214, 61, 0.918);
    position: relative;
    height: 60px;
  }
  
  #NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #header h4 {
    margin: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    #header h4 {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
  
    .nav-button {
      width: 100%;
    }
  }